*{
    margin: 0;
    padding: 0;
}
.con{
    height: 100vh;
    width: 100%;
    background-image: url(background.png);
    background-position: center;
    background-size: cover;
   box-sizing: border-box;
   position: relative;
}
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 160px;
    cursor: pointer;
}
.cart{
    width: 40px;
    cursor: pointer;
}
.cart:hover{
    animation: move1 0.5s linear forwards;
}
@keyframes move1{
    100%{
        
        width: 45px;
    }
}
nav{
    flex: 1;
    padding-left: 60px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.content h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
}
.content p{
    font-size: 20px;
    color: rgb(243, 11, 69)
}
.content{
    margin-left: 10%;
    margin-top: 10%;
}
.content .btn{
    text-decoration: none;
    display: inline-block;
    background: linear-gradient(45deg,rgb(0, 247, 255),rgb(198, 0, 224));
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    color: black;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}
.arrow{
    margin-top: 40px;
    display: flex;
}
.arrow img{
    width: 40px;
    margin-right: 25px;
}
.img1{
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 160px;
}
.img1{
    opacity: 0;
    animation: move 1s linear forwards;
}
@keyframes move{
    100%{
        opacity: 1;
    }
}
@media (max-width : 950px) {
    .img1{
        position: relative;
        height: 100vh;
        left: 10px;
        display: grid;
        place-items: center;

    }    
}
.login{
    position: absolute;
    right: 100px;
    text-decoration: none;
    outline: 0;
    border-radius: 20px;
    padding: 10px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background : linear-gradient(45deg,cyan,rgb(255, 0, 255));
    opacity: .8;
}
.login:hover{
    width: 61px;
    transition: .2s;
}